<link rel="stylesheet" href="/css/home/loja.css">

<section>
    {{#each produto}}
    <a href="{{#if link}} {{link}} {{else}} https://wa.me/55{{../loja.telefone}}?text=Eu quero um {{{nome}}} {{/if}}">
        <div class="card">
            <img src="/produtos/{{path_foto}}" alt="">
            <p class="title">{{nome}}</p>
            <p class="price">R${{precoInteiro}} <sup>{{precoDecimal}}</sup> </p>
        </div>
    </a>
    {{/each}}
</section>