<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revendedora Painel</title>
    <link rel="stylesheet" href="/css/layouts/ADM.css">
</head>
<body>
    <header>
        <h1><a href="/loja/{{loja.id}}/{{loja.nomeLoja}}">{{loja.nomeLoja}}</a></h1>

        <button class="button-menu" id="button-menu" onclick="togglebar()">
            <img src="/img/menu-white.png" alt="img">
        </button>
    </header>
    {{!-- NavSide Lateral --}}
    <nav id="nav-side">  
        <div class="card-perfil">
            <img src="/img/account.png" alt="img">
            <p>{{loja.nome}} {{loja.sobrenome}}</p>
        </div>
        <hr>
        <ul>
            <li><a href="/admin"><img src="/img/shield-person.png" alt="img">Painel</a></li>
            <li><a href="/logout"><img src="/img/logout.png" alt="img">Logout</a></li>
        </ul>
    </nav>
    <main>
        {{>_message}}
        {{{body}}}
    </main>
    {{>_footer}}
</body>
<script>
    // NavSide Lateral
    function togglebar() {
        const navside = document.getElementById('nav-side')
        navside.classList.toggle('activate');
    }

    addEventListener('click', (event) => {
        const navside = document.getElementById('nav-side')
        const button_menu = document.getElementById('button-menu')
        if (!button_menu.contains(event.target) && !navside.contains(event.target) ) {
            navside.classList.remove('activate');
        }
    })
</script>
</html>