<!DOCTYPE html>
<html lang="pt-br">
<head>
    {{!-- Google Adsense --}}
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9496278716056170"
     crossorigin="anonymous"></script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SD8KYCD2DD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-SD8KYCD2DD');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{loja.nome}}</title>
    <link rel="stylesheet" href="/css/layouts/main.css">
</head>
<body>
    <header>
        <h1><a href="/login">{{loja.nome}}</a></h1>

        <form action="/pesquisa" method="post">
        <input type="text" name="psq" id="psq" placeholder="Pesquisar Produto.." class="psq">
        <input type="submit" value="pesquisar" class="btn">
        </form>
    </header>
    
        {{#each error_msg}}
        <div class="alert alert-error">{{this}}</div>
        {{/each}}
        {{#each success_msg}}
        <div class="alert alert-success">{{this}}</div>
        {{/each}}
        {{#each error}}
        <div class="alert alert-error">{{this}}</div>
        {{/each}}
        {{#each erros}}
        <div class="alert alert-error">{{texto}}</div>
        {{/each}}
        
    <main>
        
        {{{body}}}
    </main>
    
    <footer>
        <p>&copy;2025 Site criado por <a href="https://tavihh.github.io/Site-Portfolio/" target="_blac">Otávio Santiago</a></p>
    </footer>
</body>
</html>