<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{loja.nomeLoja}}</title>
    <link rel="stylesheet" href="/css/layouts/store.css">
</head>
<body>
    <header>
        <h1><a href="/login">{{loja.nomeLoja}}</a></h1>

        <form action="/loja/{{loja.id}}/{{loja.nomeLoja}}/pesquisa" method="post">
        <input type="text" name="psq" id="psq" placeholder="Pesquisar Produto.." class="psq">
        <input type="submit" value="pesquisar" class="btn">
        </form>
    </header>
    <main>
        {{>_message}}
        {{{body}}}
    </main>
    {{>_footer}}
</body>
</html>